/* #################################################################################################
 * #################################################################################################
 * Main
 * #################################################################################################
 * ################################################################################################# */


 body, html {
	background-color: #333333;
	font-size: 16px;
}

main > section{
	width: 100%;
	padding: 2rem;
	box-sizing: border-box;
}