[submodule "app/modules/electron_helper"]
	path = app/modules/electron_helper
	url = https://github.com/herrbasan/electron_helper.git
[submodule "app/modules/nui2"]
	path = app/modules/nui2
	url = https://github.com/herrbasan/nui_wc2.git
